@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 70%;
  margin: 5px auto;
  min-height: 100vh;
  background-color: #064988;
  color: whitesmoke;
  position: relative;
  border-radius: 5px;
}

.header {
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #064988;
}

.headerin {
  width: 85%;
  min-height: 200px;
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #064988;
}

.logo {
  width: 60%;
}

.logolink {
  width: 70%;
}

.logoin {
  width: 100%;
  padding: 30px;
}

.logopanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
}

.headerh {
  width: 80%;
  font-size: 1rem;
  text-align: center;
  line-height: 1.4;
}

.main {
  text-align: center;
  margin: 0px 100px;
  margin-bottom: 0px;
}

p {
  margin: 40px 0;
  line-height: 1.4em;
}

.story {
  margin-top: 80px;
  border: 2px white solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  background-color: #1c80dd;
}

.storyimg {
  max-width: 30%;
  height: 295px;
  object-fit: cover;
  padding: 10px 0;
}

.storypanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
}

.storytitle {
  font-family: serif;

  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
}

.storymain {
  font-size: 1.2rem;
  text-align: justify;
  padding: 20px;
  max-height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
  line-height: 1.3;
}

.b1 {
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  border: 3px solid white;

  padding: 4px 8px;
  position: relative;
  transition: all 0.5s;
  margin-bottom: 10px;
}

.b1:hover {
  font-weight: 700;
  letter-spacing: 4px;
  border: 3px solid white;
}

.mainin {
  width: 80%;
  margin: auto;
  text-align: center;
}

.imgin {
  width: 60%;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}

.h2in {
  margin-top: 20px;
  font-family: serif;
  font-size: 3rem;
}

.pin {
  text-align: justify;
  margin-top: 10px;
}

.productimg {
  width: 20%;
  float: left;
  margin: 10px;
  box-shadow: 2px 2px 5px 1px #ffffff;
}

.imgright {
  float: right;
}
.producth2 {
  text-align: left;
}

.shoplink {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: whitesmoke;
  padding: 2px 8px;
  display: inline;
  font-weight: bold;
}

.shoplink:hover {
  font-family: "Roboto", sans-serif;
  color: #064988;
  text-decoration: none;
  background-color: whitesmoke;
}

.gap {
  height: 50px;
}

footer {
  margin: auto;
  margin-top: 50px;
  padding-bottom: 50px;
  color: white;
  font-family: monospace;
}

.footerin {
  margin: auto;
  margin-top: 50px;
  padding-bottom: 50px;
  color: white;
  font-family: monospace;
}

.privacylink {
  color: whitesmoke;
}

.bannersml {
  display: none;
}

@media only screen and (max-width: 1300px) {
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
  }

  .header {
    width: 100%;
    min-height: 50px;
    padding-top: 50px;
    margin-bottom: 50px;
  }

  .main {
    width: 80%;
    margin: auto;
  }
  .logo {
    width: 80%;
  }

  .h2 {
    font-size: 1.1px;
  }

  .story {
    flex-direction: column;
    padding-left: 0;
  }

  .storyimg {
    max-width: 90%;
    object-fit: cover;
    padding: 10px 0;
  }

  .storypanel {
    max-width: 90%;
  }

  .storytitle {
    font-size: 1.5rem;
    text-align: center;
    padding-left: 0;
    padding-top: 10px;
    margin-bottom: 15px;
  }

  .storymain {
    text-align: center;
    max-height: 130px;
    line-height: 1.1;
    padding: 0;
  }

  .headerin {
    width: 95%;
    flex-direction: column;
  }

  .logolink {
    width: 95%;
  }

  .logopanel {
    display: none;
  }

  .imgin {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    margin: auto;
    float: none;
  }

  .h2in {
    margin-top: 10px;
    font-size: 2rem;
  }

  .pin {
    text-align: left;
  }

  .productimg {
    width: 30%;
    float: left;
    margin: 5px;
    box-shadow: 2px 2px 5px 1px #ffffff;
  }

  .imgright {
    float: right;
  }
  .producth2 {
    text-align: left;
  }

  .bannerlrg {
    display: none;
  }
  .bannersml {
    display: inline;
  }
}
